body {
	background-color: black;
}

h1, h2, p {
	position: relative;
	text-align: center;
	color: red;
}

p {
	font-size: 25px;
}

button {
	padding: 20px;
	font-size: 30px;
	color: red;
	border-radius: 20px;
	position: relative;
	left: 40px;
}

body {
	position: relative;
	margin: 0 auto;
}

div {
	height: 300px;
	width: 600px;
	position: relative;
}

.racerGame {
	background: url("../images/swamp.jpg");
	background-size: 100%;
	position: relative;
	margin: 0 auto;
	border: 2px solid red;
}

.instructions {
	width: 500px;
}

.gameKey {
	position: relative;
	margin: 0 auto;
	background: black;
}
.gameKey img {
	max-width: 30%;
}

img {
	position: relative;
	max-width: 100%;
}

.keys {
	position: relative;
	display: inline;
	float: left;
	width: 300px;
	margin: 0 auto;
}

.body2 {
	height: 50px;
	width: 90px;
	top: 200px;
	background: transparent;
	position: absolute;
}

.body1 {
	height: 50px;
	width: 90px;
	top: 150px;
	background: transparent;
	position: absolute;
}

@media (max-width: 799px){
	.keys {
		display: block;
		float: left;
		clear: both;
	}
}